body {
	background: url("../images/background.jpg") no-repeat fixed center;
	background-size: cover;
}

h1{
	color: white;
	display:inline;
	clear: both;
	padding: 10px;
	margin-bottom: 20px;
	
}

#wrapper {
	width: 100%
	max-width:960px;
	margin: 0 auto;
}

#instructions {
	background-color: white;
	width: 50%;
	clear:both;
	padding: 15px;
	margin-top: 20px;
	
}

#guessingNumber {
	background-color: gold;
	float: left;
	display: inline-block;
	padding: 10px;
	margin-top: 20px;
	
}

#scoreboard {
	background-color: purple;
	display: inline-block;
	padding: 15px 20px 10px 15px;
	margin-top: 20px;
	margin-left: 20px;
	

}

#crystals {
	margin-top: 30px;
	margin-bottom:45px;

}

.crystalImage {
	height: 111px;
	margin-left: 10px
}

.crystalImage:firstchild {
	margin-left: 0px;

}

#totalScore {
	margin-bottom: 50px;
}

#yts {
	background: red;
	display: inline;
	padding: 20px;
	
}